<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tasks</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input [(ngModel)]="newTask" placeholder="Nueva tarea"></ion-input>

    <ion-select [(ngModel)]="selectedCategory" placeholder="Categoría">
      <ion-select-option *ngFor="let c of categories" [value]="c.id">
        {{c.name}}
      </ion-select-option>
    </ion-select>

    <ion-button (click)="addTask()">Agregar</ion-button>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Filtrar por categoría</ion-label>
    <ion-select [(ngModel)]="filterCategory" (ionChange)="applyFilter()">  
      <ion-select-option value="">Todas</ion-select-option>
      <ion-select-option value="none">Sin Categoría ({{countTasksByCategory()}})</ion-select-option>
      <ion-select-option *ngFor="let c of categories" [value]="c.id">
        {{c.name}} ({{countTasksByCategory(c.id)}})
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-list-header>
      <ion-label>Pendientes</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let task of pendingTasks">

      <ion-checkbox slot="start" [checked]="task.completed" (ionChange)="toggleTask(task.id)">
      </ion-checkbox>

      <ion-label>{{task.title}}</ion-label>
      <ion-chip *ngIf="task.categoryId">
        <ion-label>{{getCategoryName(task.categoryId)}}</ion-label>
      </ion-chip>
      <ion-chip color="medium" *ngIf="!task.categoryId">
        <ion-label>Sin categoría</ion-label>
      </ion-chip>

      <ion-button color="danger" (click)="deleteTask(task.id)">
        Eliminar
      </ion-button>

    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Completadas</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let task of completedTasks">

      <ion-checkbox slot="start" [checked]="task.completed" (ionChange)="toggleTask(task.id)">
      </ion-checkbox>

      <ion-label>{{task.title}}</ion-label>
      <ion-chip *ngIf="task.categoryId">
        <ion-label>{{getCategoryName(task.categoryId)}}</ion-label>
      </ion-chip>
      <ion-chip color="medium" *ngIf="!task.categoryId">
        <ion-label>Sin categoría</ion-label>
      </ion-chip>

      <ion-button color="danger" (click)="deleteTask(task.id)">
        Eliminar
      </ion-button>

    </ion-item>
  </ion-list>
</ion-content>